<template>

  <div class="section">
    <!-- <div class="container"> -->
      <simple-upload />
    <!-- </div> -->
  </div>

  <!-- <div id="app">
    <simple-upload />
  </div> -->
</template>

<script>
import SimpleUpload from './components/SimpleUpload.vue'

export default {
  name: 'app',
  components: { SimpleUpload }
}
</script>