<template>
    <!-- <form @submit.prevent="sendFile" enctype="multipart/form-data">

        <div 
            v-if="message"
            :class="`message ${error ? 'is-danger' : 'is-success'}`"
        >
            <div class="message-boody">{{ message }}</div>
        </div>

        <div class="field">
            <label for="file" class="label">Upload File</label>

            <div class="file is-boxed is-promary">
                <label class="file-label">
                    <input 
                        type="file"
                        ref="file" 
                        @change="selectFile"
                        class="file-input"
                    />
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload">

                            </i>
                        </span>
                        <span class="file-label">
                            Choose a file...
                        </span>
                    </span>

                    <span v-if="file" class="file-name">{{ file.name }}</span>

                </label>
            </div>

        </div>
        
        <div class="field">
            <button class="button is-info">Send</button>
        </div>
    </form> -->


    
<div class="container-contact100">
        <div class="wrap-contact100">
            <span for="file" class="contact100-form-title">Upload File</span>
            <form @submit.prevent="sendFile" enctype="multipart/form-data">
                
                <!-- <div class="field"> -->
                <div class="wrap-input100 validate-input">
					<span class="label-input100">Database Name</span>
					<input class="input100" v-model="dbname" name="dbname" placeholder="Enter Database name">
					<span class="focus-input100"></span>
				</div>

                <div class="file is-boxed is-promary">
                    <!-- <label class="file-label"> -->
                        <input 
                            type="file"
                            ref="file" 
                            @change="selectFile"
                            class=""
                        />

                        <!-- <span v-if="file" class="contact100">{{ file.name }}</span> -->
                        <div 
                            v-if="message"
                            :class="`message ${error ? 'is-danger' : 'is-success'}`"
                        >
                            <div class="message-boody">{{ message }}</div>
                        </div>

                        <!-- </label> -->
                </div>
                    <!-- <div class="field">
                        <button class="button is-info">Send</button>
                    </div> -->

                    <div class="container-contact100-form-btn">
						<div class="wrap-contact100-form-btn">
							<div class="contact100-form-bgbtn"></div>
							<button class="button contact100-form-btn">
								Submit
							</button>
						</div>
					</div>
                    


                <!-- </div> -->
                
               
            </form>
            <P>dbname : {{dbname}}</P>
            <P>inf : {{info}}</P>
            <P>testinfo : {{testinfo}}</P>
             
        </div>
    </div>


</template>

<script>

import axios from 'axios';

export default {
    name: "SimpleUpload",
    data() {
        return {
            file: "",
            message: "",
            dbname: "",
            info: "",
            testinfo: "",
            error: false
        }
    },
    methods: {
        selectFile() {
            const file = this.$refs.file.files[0];
            const allowedTypes = ["application/json"];
            const MAX_SIZE = 50000000;
            const tooLarge = file.size > MAX_SIZE;

            if (allowedTypes.includes(file.type) && !tooLarge) {
                this.file = file
                this.error = false;
                this.message = "";
            } else {
                this.error = true;
                this.message = tooLarge ? `Too large, Max size is ${MAX_SIZE/1000000}mb` : "Only JSON file are allowed";
            }
        },
        async sendFile() {
            const formData = new FormData();
            const urlupload = "https://35.198.215.67:3344/upload"

            try {
                await axios.post(urlupload, formData);
                this.message = "File has been uploaded";
                this.file = "";
                this.error = false;
            } catch(err) {
                this.message = err.response.data.error;
                this.error = true;
            }
        }
        // async acTive() {
        //     const formData = new FormData();
        //     const urldbname = "https://35.198.215.67:9542/seniorproject/json/" + this.dbname;
        //     try {
        //         await axios.post(urldbname, formData); 
        //         this.info = "get complete"
        //     } catch(err) {
        //         this.info = err.response.data.error;
        //     }
        // }
    }
}
</script>
